
/* GMAIL BLOCK */

.gmail_block {
    background: rgb(0, 0, 0);
    padding: 100px 0;
}

.inner_gmail_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(---whitesmoke);
    height: 300px;
    border-radius: 20px;
    align-items: center;
}

.form_gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_gmail button {
    width: 100%;
    margin: 20px 0;
}

/* MOVE BLOCK */

.move_block {
    background: black;
    padding: 100px 0;
}

.inner_parent_block {
    height: 400px;
    width: 400px;
    border: 1px solid whitesmoke;
    border-radius: 18px;
}

.parent_block {
    height: 500px;
    width: 500px;
    border: 1px solid whitesmoke;
    position: relative;
    margin: 0 auto;
}

.child_block {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: silver;
    border-color: whitesmoke; 
    
}

.inner_move_block {
    margin-top: 50px;
}

/*----ANALOG CLOCK-----*/

.clock {
    --clock-size: 360px;
    width: var(--clock-size);
    height: var(--clock-size);
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 50%;
    color: white;
}

.spike {
    position: absolute;
    width: 8px;
    height: 1px;
    background: #fff9;
    line-height: 20px;
    transform-origin: 50%;
    z-index: 5;
    inset: 0;
    margin: auto;
    font-style: normal;
    transform: rotate(var(--rotate)) translateX(var(--dail-size));
}
.spike:nth-child(5n+1) {
    box-shadow: -7px 0 #fff9;
}
.spike:nth-child(5n+1):after {
    content: attr(data-i);
    position: absolute;
    right: 22px;
    top: -10px;
    transition: 1s linear;
    transform: rotate(calc( var(--dRotate) - var(--rotate)));
}

.seconds {
    --dRotate: 0deg;
    --dail-size: calc((var(--clock-size)/ 2) - 8px);
    font-weight: 800;
    font-size: 18px;
    transform: rotate(calc( -1 * var(--dRotate)));
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 1s linear;
}

.minutes {
    --dail-size: calc((var(--clock-size)/ 2) - 65px);
    font-size: 16px;
    transform: rotate(calc( -1 * var(--dRotate)));
    position: absolute;
    inset: 0;
    margin: auto;
    transition: 1s linear;
}

.stop-anim {
    transition: 0s linear;
}
.stop-anim .spike:after {
    transition: 0s linear !important;
}

.hour {
    font-size: 70px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.minute {
    font-size: 36px;
    font-weight: 900;
    position: absolute;
    background: #000;
    z-index: 10;
    right: calc(var(--clock-size)/ 4.5);
    top: 50%;
    transform: translateY(-50%);
}
.minute:after {
    content: "";
    position: absolute;
    border: 2px solid #fff;
    border-right: none;
    height: 50px;
    left: -10px;
    top: 50%;
    border-radius: 40px 0 0 40px;
    width: calc(var(--clock-size)/ 2.75);
    transform: translatey(-50%);
}


/*-------STOP WATCH------ */

.time {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid var(--orange);
    margin-top: 40px;
}

.time_block {
    display: flex;
    width: 500px;
    justify-content: center;
}

.stopwatch {
    padding: 100px 0;
    background: black;
}

.time_buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 80px;
    align-content: space-between;
    background-color: black;
    margin: 0 200px 50px 50px;

}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 80px;
    background-color: black;
    margin: 0 200px 50px 50px;
}

.card {
    flex: 0 0 calc(25% - 50px);
    max-width: 600px;
    margin: 20px;
}

.card{
    padding: 40px;
    border: 0.5px solid rgb(187, 187, 210);
    box-shadow: 0 0 25px rgb(168, 168, 180);
    border-radius: 10px;
    width: 600px;
    height: 600px;
    color: white ;
    border-spacing: 150px;
    text-align: justify;
    vertical-align: bottom;
}
.cardImg{
    width: 500px;
    height: 800px;
    margin-bottom: 30px;
    border: white;
}
.title{
    text-align: center;
    color: aliceblue;
    margin-bottom: 10px;
    font-weight: 700;
}

.body{
    width: 500px;
    color: aliceblue;
    margin-top: 30px;
    font-weight: 400;
    background-color: white;
    justify-content: left;
}

.characters{
    background-color: var(--black);
}

.characters-list{
    background: rgb(0, 0, 0);
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 15px;
    text-align: justify;
}
.character-card {
    border: 3px var(--orange);
    width: 500px;
    margin: 100px 200px 200px;
    text-align: justify;

}
.card {
    margin-left: 220px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    display: inline-block;
    width: 200px;
    height: 275px;
    font-style: italic;
    text-align: justify;


}
img {
    width: 100%;
    height: 170px;
    border-radius: 5px;
}
.wrapper {
    background-color: black;
}
